* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 1500px;
}

.header_line1 {
    width: 1710px;
    height: 38px;
    background-color: #65256F;
}

.header_line1_text1 {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 14px;
    color: #FFB700;
    padding-top: 11px;
    margin-left: 137px;
}

.header_line1_text2 {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: -17px;
    margin-left: 950px;
}

.hedaer_line1_tel {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 16px;
    color: #FFB700;
    margin-top: -16px;
    margin-left: 1274px;
}

.header_line2 {
    width: 1500px;
    height: 62px;
    background-color: #FFFFFF;
        padding: 0px 150px 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-left: -90px;
}

.header_logo {
    width: 174px;
    height: 47px;
    object-fit: contain;
    display: flex;
    padding-top: 20px;
    margin-left: 215px;
}

.header_line2_ul {
       display: flex;
    gap: 50px;
    margin-left: 620px;
    margin-top: -40px;
}

li {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 17px;
    color: #545454;

}

.header_line2_btn {
   width: 168px;
    height: 45px;
    border-radius: 3px;
    border: none;
    background-color: #65256F;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    margin-top: -35px;
    padding-left: 30px;
    padding-top: 14px;
    margin-left: 1220px;
}

.contacts_section_title {
    font-weight: 500;
    font-size: 36px;
    margin-top: 80px;
    margin-left: 180px;
}

iframe {
    margin-left: 750px;
    margin-top: -520px;
}

.contacts_wrapper_card1_ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: -150px;
    color: #000000;
}

.contacts_wrapper_card1 {
    display: flex;
}

.contacts_wrapper_img {
    width: 24px;
    height: 24px;

}

.texts {
    font-size: 18px;
    color: #000000;
}

.contacts_wrapper_title {
    font-weight: 400;
    font-size: 24px;
    color: #717171;
    margin-left: 15px;
}

.contacts_wrapper_card2_ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: -150px;
    color: #000000;
}

.contacts_wrapper_card2 {
    display: flex;
}

.contacts_wrapper_img2 {
    width: 24px;
    height: 24px;
}

.contacts_wrapper_title2 {
    font-weight: 400;
    font-size: 24px;
    color: #717171;
    margin-left: 15px;
}

.contacts_wrapper_card3_ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: -150px;
    color: #000000;
}

.contacts_wrapper_card3 {
    display: flex;
}

.contacts_wrapper_img3 {
    width: 24px;
    height: 24px;
}

.contacts_wrapper_title3 {
    font-weight: 400;
    font-size: 24px;
    color: #717171;
    margin-left: 15px;
}

li {
    color: #000000;
}

.contacts_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 160px;
    margin-top: 60px;
}

.contacts_section_card {
    width: 768px;
    height: 600px;
    border-radius: 3px;
    margin-top: -450px;
    margin-left: 540px;
}

.footer {
    width: 1710px;
    height: 340px;
    background-color: #3A3A3A;
    margin-top: 60px;
}

.footer_card1_title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

.footer_cad1_text {
    font-family: Montserrat;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
}

.footer_card2_title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

.footer_card2_ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    margin-top: 10px;
    font-size: 16px;
    color: #FFFFFF;
}

.footer_card3_title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

.footer_card3_ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    margin-top: 10px;
    font-size: 16px;
    color: #FFFFFF;
}


.footer_card4_title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

.footer_card4_ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    margin-top: 10px;
    font-size: 16px;
    color: #FFFFFF;
}

.footer_wrapper {
    display: flex;
    gap: 150px;
    margin-left: 80px;
    padding-top: 65px;
}